.heading{
    font-size: 23px;
    box-shadow: 5px 5px 18px grey;
    width: 100%;
    margin-top:0px ;
}
.note{
    color: black;
    font-size: 15px;
}
.copy_right_footer{
    position: fixed;
    color: white;
    background-color: gray;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}
canvas{
 border: 2px solid white;
 border-radius: 20px;
 background-color: grey;
}